html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 70px; */
}
body {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}
button {
  cursor: pointer;
  transition-duration: 250ms;
  transition-delay: 50ms;
}

button:hover {
  transform: scale(1.05);
}

.container {
  position: relative;
  width: 1090px;
  padding-right: 185px;
  padding-left: 185px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.white--bac {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
/* .container::before {
  content: "";
  position: absolute;
  top: -36px;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 1px;
  width: 536px;
  background-color: #000;
  display: block;
}
.container:nth-child(2n):before {
  top: -36px;
} */
:root {
  --cl: #000;
}
main section::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 1px;
  width: 536px;
  background-color: var(--cl);
  display: block;
  z-index: 3;
}
section {
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;
}
header .container {
  padding-left: 0;
  padding-right: 0;
}
header .container::before {
  display: none;
}
footer .container::before {
  display: none;
}
input {
  border: none;
  outline: none;
}
input:focus {
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.main {
  /* background-color: #333; */
}