<section class="calc">
  <div class="container">
    <h2 class="calc__title">Калькулятор</h2>
    <form class="calc-block">
      <input
        type="number"
        name="num1"
        class="calc__input"
        autocomplete="off"
        placeholder="Введіть число"
      />
      <div class="operations">
        <button type="button" class="operations__btn">+</button>
        <button type="button" class="operations__btn">*</button>
        <button type="button" class="operations__btn">-</button>
        <button type="button" class="operations__btn">/</button>
      </div>
      <input
        type="number"
        name="num2"
        class="calc__input"
        autocomplete="off"
        placeholder="Введіть число"
      />
      <button type="submit" class="calc__btn">=</button>
      <input
        type="text"
        name="result-field"
        class="calc__input"
        placeholder="Результат"
        readonly
      />
    </form>
  </div>
</section>
