<section class="experts">
  <div class="container">
    <h2 class="experts__title">Обери вченого/их</h2>
    <ul class="experts__boxes">
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
      <li class="experts__boxes__item">
        <div class="experts__boxes__item__div"></div>
      </li>
    </ul>
    <ul class="experts__list">
      <li class="experts__list__item">
        <p class="experts__list__item__description">
          Які вчені народилися в 19 ст.
        </p>
      </li>
      <li class="experts__list__item">
        <p class="experts__list__item__description">
          Відсортувати вчених за алфавітом
        </p>
      </li>
      <li class="experts__list__item">
        <p class="experts__list__item__description">
          Відсортувати вчених за кількістю прожитих років
        </p>
      </li>
      <li class="experts__list__item">
        <p class="experts__list__item__description">
          Знайти вченого, який народився найпізніше
        </p>
      </li>
      <li class="experts__list__item">
        <p class="experts__list__item__description">
          Знайти рік народження Albert Einshtein
        </p>
      </li>
      <li class="experts__list__item">
        <p class="experts__list__item__description">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </p>
      </li>
      <li class="experts__list__item">
        <p class="experts__list__item__description">
          Видалити всіх вчених, ім’я яких починається на “А”
        </p>
      </li>
      <li class="experts__list__item">
        <p class="experts__list__item__description">
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </p>
      </li>
      <li class="experts__list__item">
        <p class="experts__list__item__description">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </p>
      </li>
    </ul>
  </div>
</section>
