<section class="experts">
  <div class="container">
    <h2 class="experts__title">Обери вченого/их</h2>
    <div class="experts-block">
      <ul class="gallery" data-experts>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
        <li class="gallery__item"><img src="" alt="" /></li>
      </ul>
      <ul class="experts__list" data-experts-controls>
        <li class="experts__item">
          <button type="button" class="experts__btn" data-experts-btn>
            Які вчені народилися в 19 ст.
          </button>
        </li>
        <li class="experts__item">
          <button type="button" class="experts__btn" data-experts-btn>
            Знайти рік народження Albert Einshtein
          </button>
        </li>
        <li class="experts__item">
          <button type="button" class="experts__btn" data-experts-btn>
            Відсортувати вчених за алфавітом
          </button>
        </li>
        <li class="experts__item">
          <button type="button" class="experts__btn" data-experts-btn>
            Знайти вчених, прізвища яких починаються на на літеру “С”
          </button>
        </li>
        <li class="experts__item">
          <button type="button" class="experts__btn" data-experts-btn>
            Відсортувати вчених за кількістю прожитих років
          </button>
        </li>
        <li class="experts__item">
          <button type="button" class="experts__btn" data-experts-btn>
            Видалити всіх вчених, ім’я яких починається на “А”
          </button>
        </li>
        <li class="experts__item">
          <button type="button" class="experts__btn" data-experts-btn>
            Знайти вченого, який народився найпізніше
          </button>
        </li>
        <li class="experts__item">
          <button type="button" class="experts__btn" data-experts-btn>
            Знайти вченого, який прожив найдовше і вченого, який прожив найменше
          </button>
        </li>
        <li class="experts__item">
          <button type="button" class="experts__btn" data-experts-btn>
            Знайти вчених, в яких співпадають перші літери імені і прізвища
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
