<footer class="footer">
  <div class="container">
    <img
      src="../img/logof.png"
      alt="logotype"
      draggable="false"
      class="footer__pic"
    />
    <ul class="footer__list">
      <li class="footer__item">
        <p class="footer__text">
          Тел:
          <a href="tel:+381234567890" class="footer__link"
            >+38 (123) 456 78 90</a
          >
        </p>
      </li>
      <li class="footer__item">
        <p class="footer__text">
          E-Mail:
          <a href="mailto:codingmagic@gmail.com" class="footer__link"
            >codingmagic@gmail.com</a
          >
        </p>
      </li>
      <li class="footer__item">
        <p class="footer__text">
          Facebook:
          <a href="https://facebook.com" class="footer__link" target="_blank"
            >CodingMagic</a
          >
        </p>
      </li>
      <li class="footer__item">
        <p class="footer__text">
          Twitter:
          <a href="https://twitter.com/" class="footer__link" target="_blank"
            >CodingMagic</a
          >
        </p>
      </li>
      <li class="footer__item">
        <p class="footer__text">
          Instagram:
          <a
            href="https://www.instagram.com/"
            class="footer__link"
            target="_blank"
            >CodingMagic</a
          >
        </p>
      </li>
    </ul>
    <form class="footer-form" data-footer-form>
      <div>
        <input
          type="text"
          placeholder="Ваша ел. адреса..."
          autocomplete="off"
          name="emailput"
          class="footer__input"
        />
        <button type="submit" class="footer__btn">Підписатись</button>
      </div>
      <p class="footer__description">
        *Підписавшись, Ви зможете отримувати інформацію про новинки на сайті
      </p>
    </form>
  </div>
</footer>
