<header class="header" data-header>
  <div class="container">
    <div class="header__logo">
     <img src="../img/logo.png" alt="">
    </div>
    <ul class="header__list">
      <li class="header__list__item">
        <a class="header__list__item__link" href="#">Інтерактив</a>
        <svg
          class="header__list__item__link__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="7"
          viewBox="0 0 11 7"
          fill="none"
        >
          <path
            d="M10 1L5.5 6L1 1"
            stroke="black"
            stroke-width="0.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <div class="under__link">
          <div class="under__link__border"></div>
          <ul class="under__link__list">
            <li class="under__link__list__item">
              <p class="under__link__list__item__text">Числовий</p>
            </li>
            <li class="under__link__list__item">
              <p class="under__link__list__item__text">Ігровий</p>
            </li>
            <li class="under__link__list__item">
              <p class="under__link__list__item__text">Ознайомчий</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="header__list__item">
        <a class="header__list__item__link" href="#team">Наша команда</a>
        <svg
          class="header__list__item__link__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="7"
          viewBox="0 0 11 7"
          fill="none"
        >
          <path
            d="M10 1L5.5 6L1 1"
            stroke="black"
            stroke-width="0.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <li class="header__list__item">
        <a class="header__list__item__link" href="#">Контакти</a>
        <svg
          class="header__list__item__link__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="7"
          viewBox="0 0 11 7"
          fill="none"
        >
          <path
            d="M10 1L5.5 6L1 1"
            stroke="black"
            stroke-width="0.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
    </ul>
    <ul class="header__settings">
      <li class="header__settings__item">
        <label class="switch">
          <input class="switchInput" type="checkbox">
          <span class="header__slider round"></span>
        </label>
      </li>
      <li class="header__settings__item">
        <p data-nickname-open>Вітаємо, <span data-nickname-text>User</span>!</p>
      </li>
    </ul>
  </div>
</header>
