<section class="max">
  <div class="container">
    <h2 class="max__title">Введіть 3 числа</h2>
    <ul class="max__list">
      <li class="max__item">
          <input
            type="text"
            placeholder="Введіть число"
            autocomplete="off"
            data-max-input
            class="max__input"
          />
      </li>
      <li class="max__item">
          <input
            type="text"
            placeholder="Введіть число"
            autocomplete="off"
            data-max-input
            class="max__input"
          />
      </li>
      <li class="max__item">
          <input
            type="text"
            placeholder="Введіть число"
            autocomplete="off"
            data-max-input
            class="max__input"
          />
      </li>
    </ul>
    <p class="max__text">
      Найбільше число, яке ви ввели - <span data-max-text>(число)</span>
    </p>
  </div>
</section>
