<div class="nickname-backdrop is-hidden-nickname" data-nickname-backdrop>
  <div class="nickname">
    <button type="button" class="nickname__close-btn" data-closebtn-nickname>
      <svg
      class="nickname__close__svg"
        xmlns="http://www.w3.org/2000/svg"
        width="17"
        height="17"
        viewBox="0 0 17 17"
        fill="none"
      >
        <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black" />
      </svg>
    </button>
    <div class="greetings">
      <p class="greetings__text">Привіт!</p>
      <p class="greetings__text">
        <span class="greetings__text__title">Ви потрапили на сайт інтерактивних ігор та завдань</span>
        <span
          >Надіємось, що вам сподобається і ви отримаєте позитивні емоції!</span
        ><span> Бажаємо Вам гарно провести</span>
        час!
      </p>
    </div>
    <form class="nickname__form" data-form-nickname>
      <label for="nickname" class="nickname__label">Введіть своє ім’я:</label>
      <input
        type="text"
        name="nickname"
        id="nickname"
        class="nickname__input"
        autocomplete="off"
        autofocus
        placeholder="Ваше ім’я..."
      />
      <button type="submit" class="nickname__btn">Зберегти</button>
    </form>
    <img src="../img/sword.svg" alt="sword" draggable="false" class="nickname__svg" />
    <img src="../img/puzzle.svg" alt="puzzle photo" draggable="false" class="nickname__svg" />
    <img src="../img/zero.svg" alt="tic tac toe" draggable="false" class="nickname__svg" />
    <img src="../img/game.svg" alt="game" draggable="false" class="nickname__svg" />
  </div>
</div>
