<section class="rps">
  <div class="container">
    <h2 class="rps__title">Камінь - ножиці - папір</h2>
    <ul class="rps__variants">
      <li class="rps__variants__item">
        <img src="" alt="" />
      </li>
      <li class="rps__variants__item">
        <img src="" alt="" />
      </li>
      <li class="rps__variants__item">
        <img src="" alt="" />
      </li>
    </ul>
    <ul class="rps__results">
      <li class="rps__results__item">
        <p class="rps__results__item__description">Рахунок:</p>
      </li>
      <li class="rps__results__item">
        <p class="rps__results__item__description">Комп’ютер -</p>
      </li>
      <li class="rps__results__item">
        <p class="rps__results__item__description">Ви - 0</p>
      </li>
    </ul>
    <ul class="rps__check">
      <li class="rps__check__item">
        <span class="rps__msg">Ви виграли раунд!</span>
      </li>
      <li class="rps__check__item">
        <button type="button" class="rps__button">Варіант комп’ютера</button>
      </li>
    </ul>
  </div>
</section>
