<section class="rps">
  <div class="container">
    <h2 class="rps__title">Камінь - ножиці - папір</h2>
    <div class="rps-block">
      <div class="rps-box">
        <ul class="rps__list">
          <li class="rps__item rock">
            <img src="../img/stone.png" alt="Rock" class="rps__pic" />
          </li>
          <li class="rps__item scissors">
            <img src="../img/scissors.png" alt="Scissors" class="rps__pic" />
          </li>
          <li class="rps__item paper">
            <img src="../img/paper.png" alt="Paper" class="rps__pic" />
          </li>
        </ul>
        <div class="score">
          <h4 class="score__subtitle">Рахунок:</h4>
          <p class="score__text">
            Комп’ютер - <span data-rps-scorecomp>0</span>
          </p>
          <p class="score__text">Ви - <span data-rps-urscore>0</span></p>
        </div>
      </div>
      <p class="rps__message rps--success" data-rps-message>
        Ви виграли раунд!
      </p>
      <button type="button" data-rps-btn class="rps__btn">
        Варіант комп’ютера
      </button>
    </div>
  </div>
</section>
