<section class="team">
  <div class="container">
    <h2 class="team__title">Наша команда</h2>
    <div class="team__slider" data-slider>
      <ul class="team__list">
        <li class="team__item is-shown">
          <img src="../img/vite-logo.png" alt="Yakov`s avatar" />
          <h3 class="team__subtitle">Деркаченко Яків</h3>
          <p class="team__description">La-la-la</p>
        </li>
        <li class="team__item">
          <img src="../img/vite-logo.png" alt="Matthew`s avatar" />
          <h3 class="team__subtitle">Савула Матвій</h3>
          <p class="team__description">La-la-la</p>
        </li>
        <li class="team__item">
          <img src="../img/vite-logo.png" alt="Michael`s avatar" />
          <h3 class="team__subtitle">Іванов Михайло</h3>
          <p class="team__description">La-la-la</p>
        </li>
      </ul>
      <ul class="team__pagination">
        <li class="team__bullet active-bullet"></li>
        <li class="team__bullet"></li>
        <li class="team__bullet"></li>
      </ul>
    </div>
  </div>
</section>
