<section id="team" class="team">
  <div class="container">
    <h2 class="team__title">Наша команда</h2>
    <div class="team-slider" data-slider>
      <ul class="team__list">
        <li class="team__item is-shown">
          <img
            src="../img/yakov29.jpeg"
            alt="Yakov`s avatar"
            class="team__img"
          />
          <h3 class="team__subtitle">Деркаченко Яків</h3>
          <p class="team__description"><span>Html: experts, dino, thanks, header, rps.</span><span>Css: header, experts.</span><span>Js: calc, header, dino</span></p>
        </li>
        <li class="team__item">
          <img
            src="../img/Png-16.png"
            alt="Matthew`s avatar"
            class="team__img"
          />
          <h3 class="team__subtitle">Савула Матвій</h3>
          <p class="team__description"><span>Html: years.</span> <span>Js: calculator time.</span></p>
        </li>
        <li class="team__item">
          <img
            src="../img/a352e7dbad42a23ccd234d29b958b710.jpg"
            alt="Michael`s avatar"
            class="team__img"
          />
          <h3 class="team__subtitle">Іванов Михайло</h3>
          <p class="team__description"><span>Html: footer, team, football, nickname, calc, time calculator.</span><span>Css: calc, football, footer, max, dino, numbers, team, time calculator, rps, thanks.</span><span>Js: nickname, rps, team, thanks, max, expert, rps, number.</span></p>
        </li>
      </ul>
      <ul class="team__pagination">
        <li class="team__bullet active-bullet"></li>
        <li class="team__bullet"></li>
        <li class="team__bullet"></li>
      </ul>
      <button type="button" data-team-left class="team__btn"></button>
      <button type="button" data-team-right class="team__btn"></button>
    </div>
  </div>
</section>
