.experts__title {
  text-align: center;
  font-size: 16px;
  color: #000;
  margin-bottom: 36px;
}
.experts-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gallery {
  margin-bottom: 36px;
  display: grid;
  grid-column-gap: 59px;
  grid-row-gap: 36px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery__item {
  background-color: #d9d9d9;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.experts__list {
  display: grid;
  grid-column-gap: 36px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 55px;
  position: relative;
}
.experts__item {
  display: flex;
  justify-content: flex-end;
  height: 35px;
}
.experts__item:nth-child(4) {
    width: 441px;
}
.experts__item:nth-child(5) {
  width: 380px;
}
.experts__item:nth-child(8) {
  height: 50px;
}
.experts__item:nth-child(2n) {
  justify-content: flex-start;
}
.experts__item:last-child {
  position: absolute;
  width: 489px;

  bottom: 0;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
}
.experts__btn {
  background-color: #000;
  border-radius: 20px;
  color: #fff;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  padding: 10px 20px;
  text-align: left;
  line-height: normal;
  border: none;
}
/* .experts_item:nth-of-type(8) {
    height: 50px;
}
.experts__btn:nth-child(8) {
    height: 50px;
} */
.experts__btn:nth-child(2n) {
  text-align: right;
}

.experts__btn:nth-child(9) {
  width: 489px;
  display: flex;
  justify-content: center;
}
