.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.is-shown_header{
  opacity: 1;
  top: 25px;
  opacity: 1;
  background: #fff;
  height: 105px;
  flex-shrink: 0;
  width: 160px;
  flex-shrink: 0;
  position: absolute !important;
  z-index: 10;
  right: -25px;
  transition-duration: 300ms;
  transition-delay: 50ms;
}

.header__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .header__slider {
  background-color: #000;
}

input:focus + .header__slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .header__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded header__sliders */
.header__slider.round {
  border-radius: 34px;
}

.header__slider.round:before {
  border-radius: 50%;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: visible;
}
.header__settings__item {
  height: 20px;
}

header .container {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 50px;
  margin-left: 81px;
}

.header__settings {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 51px;
}
.header__list__item {
  position: relative;
}
.under__link {
  opacity: 0;
  position: absolute;
}


.under__link__list {
  text-align: center;
  align-items: center;
  transition-duration: 300ms;
  transition-delay: 50ms;
    overflow: hidden;

}

.under__link__list__item {
  height: 35px;
  text-align: center;
  align-items: center;
  transition-duration: 300ms;
  transition-delay: 50ms;
}

.under__link__list__item:hover {
  background: #f1f1f1;
}
.under__link__border{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
  border: 2px solid #000;
  border-radius: 0px 0px 20px 20px;
  border-top: none;

}

.underLinkHover:hover{
  background-color: gray;
}


.under__link__list__item:first-child {
  padding-top: 3px;
}
.under__link__list__item:last-child {
  border-radius: 0px 0px 25px 25px;
  overflow: hidden;
}


.under__link__list__item:hover {
  display: block;
}

.header__list__item__link__svg {
  display: none;
}

.under__link:hover .header__list__item__link__svg {
  display: block;
}

.under__link:hover {
  transform: translate(0px, 0px);
}

.header__list__item:hover .under__link {
  transform: translate(0px, 0px);
}
.main {
  background-image: url(../img/back-image@1x.png);
  /* background-position: center; */
  background-size: cover;
}
