.max {
  padding-top: 0;
  padding-bottom: 0;
}
.max .container {
  padding-top: 36px;
  padding-bottom: 36px;
}
.max .container::before {
  top: 0;
}
.max__title {
  text-align: center;
  color: #000;
  font-size: 16px;
}
.max__list {
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
}
.max__item {
  margin-right: 38px;
}
.max__item:last-child {
  margin-right: 0;
}
.max__input {
  padding: 10px 20px;
  border-radius: 20px;
  background: #d7d7d7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  width: 135px;
  transition-duration: 300ms;
  transition-delay: 50ms;
}
.max__input::placeholder {
  color: #7e7e7e;
  font-size: 12px;
}
.max__input:hover,
.max__input:focus {
  transform: scale(1.05);
}
.max__text {
  text-align: center;
  color: #000;
  font-size: 12px;
}
