.numbers .container {
  padding-right: 257px;
  padding-left: 257px;
}
.numbers__title {
  color: #000;
  font-size: 16px;
  text-align: center;
}
.numbers-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}
.numbers-input-block {
  position: relative;
}
.numbers__input {
  width: 150px;
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  background: #d7d7d7;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.numbers__input::placeholder {
  color: #7e7e7e;
  font-size: 12px;
}
.numbers__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 0px 20px 20px 0px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 100%;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.numbers__text {
  text-align: right;
  font-size: 12px;
  display: none;
}
.numbers--success {
  color: #039900 !important;
  display: block;
}
.numbers--lose {
  color: #900 !important;
  display: block;
}
