.rps {
    padding-bottom: 0;
}
.rps .container {
padding-bottom: 36px;
}
.rps__title {
  color: #000;
  text-align: center;
  font-size: 16px;
  margin-bottom: 36px;
}
.rps-block {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.rps-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 36px;
}
.rps__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rps__item {
  background-color: #000;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 38px;
}
.rps__item:last-child {
  margin-right: 0;
}
.score {
  position: absolute;
  right: 0px;
}
.score__subtitle,
.score__text {
  color: #000;
  line-height: 170%;
  font-size: 12px;
}

.rps__message {
  text-align: center;
  display: block;
  margin-bottom: 36px;
  font-size: 12px;
}
.rps__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px;
}
.rps__btn:hover,
.rps__btn:focus {
  background-color: transparent;
  color: #000;
  outline: 1.5px solid #000;
}
.rps--success {
  color: #039900;
}
.rps--lose {
  color: #900;
}
