/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./base/common.css');
@import url('./base/reset.css');
@import url('./header.css');
@import url('./years.css');
@import url('./numbers.css');
@import url('./rps.css');
@import url('./calc.css');
@import url('./time.css');
@import url('./dino.css');
@import url('./football.css');
@import url('./max.css');
@import url('./team.css');
@import url('./experts.css');
@import url('./footer.css');
@import url('./nickname.css');
@import url('./thanks.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
