.time .container {
  padding-top: 36px;
  padding-bottom: 36px;
}

.time .container::before {
  top: 0px;
}
.time {
  padding-top: 0px;
  padding-bottom: 0;
}
.time__title {
  color: #000;
  text-align: center;
  font-size: 16px;
  margin-bottom: 36px;
}
.time-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.time-input-block {
  position: relative;
  /* margin-right: 33px; */
}
.time-input-block::after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  /* left: -50px; */
  right: -180px;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 100px;
  border: 1px dashed #000;
}
.time__input {
  width: 150px;
  border-radius: 20px;
  background-color: #d7d7d7;
  padding: 10px;
}
.time__input::placeholder {
  color: #7e7e7e;
  font-size: 12px;
}
.time__btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: #000;
  width: 35px;
  padding: 10px;
}
